/**
 * CMB Styling
 */
.hm_rp_metabox tr td, table.hm_rp_metabox tr th { vertical-align: top; padding: 5px; }
.hm_rp_metabox th { text-align: right; font-weight:bold;}
.hm_rp_metabox th label { margin-top:5px; display:block;}
div.hm_rp_metabox_description { color: #AAA; font-style: italic; margin: 2px 0 16px !important;}
span.hm_rp_metabox_description { color: #AAA; font-style: italic;}
.hm_rp_metabox input,
.hm_rp_metabox textarea { font-size:12px; padding: 5px; margin: 0; }
.hm_rp_metabox input[type=text], table.hm_rp_metabox textarea, table.hm_rp_metabox select { width: 100%; }
.hm_rp_metabox textarea.hm_rp_textarea_code,
.hm_rp_metabox textarea.hm_rp_textarea { vertical-align: top; margin: 0; }
.hm_rp_metabox textarea.hm_rp_textarea_code { font-family: Consolas,Monaco,monospace; line-height: 16px; }
.hm_rp_metabox input.hm_rp_text_small { width: 100px; }
.hm_rp_metabox input.hm_rp_timepicker { width: 100px; margin-right: 0;}
.hm_rp_metabox input.hm_rp_text_money { width: 90px; margin-right: 15px;}
.hm_rp_metabox input.hm_rp_text_medium { width: 230px; margin-right: 15px;}
.hm_rp_metabox input.hm_rp_upload_file { width: 65%; }
.hm_rp_metabox li { font-size:12px; margin: 1px 0 5px 0; line-height: 16px; }
.hm_rp_metabox ul { padding-top:5px; margin: 0; }
.hm_rp_metabox select { font-size:12px; margin-top: 3px;}
.hm_rp_metabox input:focus, table.hm_rp_metabox textarea:focus { background: #fffff8;}
.hm_rp_metabox_title { margin: 0 0 5px 0; padding: 5px 0 0 0; font: italic 24px/35px Georgia,"Times New Roman","Bitstream Charter",Times,serif;}

/* Sidebar placement adjustments */
.inner-sidebar table.hm_rp_metabox input[type=text], table.hm_rp_metabox textarea { width: 100%; }
.inner-sidebar table.hm_rp_metabox .hm_rp_upload_status .img_status img { width: 90%; }

.hm-rp-field {  margin-bottom: 8px; }
.hm-rp-field-title { margin-bottom: 8px; margin-top: 0; font-weight: bold; }
#poststuff .hm-rp-field-title h2 { margin: 0 !important; }

 .hm-rp-field.repeatable .hm-rp-field-item { padding-right: 25px; margin-bottom: 8px; }
.hm-rp-delete-field { position: absolute; top: 7px; right: 0; cursor: pointer; opacity: 0.75; background: rgba(0,0,0,0.5); border-radius: 8px; font-size: 15px; height: 14px; width: 14px;  line-height: 12px; vertical-align: middle; text-align: center;  overflow: visible; color: #FFF; }
.hm-rp-delete-field:hover { opacity: 1; color: #FFF; }
button.hm-rp-repeat-field { display: block !important; clear: both; }
